

@font-face {font-family: "iconfont-misc";
  src: url('//at.alicdn.com/t/font_vcj4304urhuuwhfr.eot?t=1482909318416'); /* IE9*/
  src: url('//at.alicdn.com/t/font_vcj4304urhuuwhfr.eot?t=1482909318416#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_vcj4304urhuuwhfr.woff?t=1482909318416') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_vcj4304urhuuwhfr.ttf?t=1482909318416') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_vcj4304urhuuwhfr.svg?t=1482909318416#iconfont-misc') format('svg'); /* iOS 4.1- */
}

.iconfont-misc {
  font-family:"iconfont-misc" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-misc-xihebiaozhunyuanjian439:before { content: "\e600"; }

.icon-misc-jing:before { content: "\e605"; }

.icon-misc-shangyinhao:before { content: "\e61e"; }

.icon-misc-yinhaoxia:before { content: "\e60c"; }

.icon-misc-qiandao:before { content: "\e606"; }
