html {
  font-size: 20px;
}
@media only screen and (min-width: 401px){
  html {
    font-size: 25px !important;
  }
}
@media only screen and (min-width: 428px){
  html {
    font-size: 26.75px !important;
  }
}
@media only screen and (min-width: 481px){
  html {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 569px){
  html {
    font-size: 35px !important;
  }
}
@media only screen and (min-width: 641px){
  html {
    font-size: 40px !important;
  }
}
*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding:0;
  width:100%;
  height: 100%;
  background-color:#e5e5e5;
}
ul,li{
  margin: 0;
  padding:0;
  list-style: none;
}
a,a:focus,a:visited,a:active{
  text-decoration: none;
  color:#000;
  cursor: pointer;
}
body {
  color:#000;
  /*max-width: 18.75rem;*/
}
.btn{
  display:inline-block;
}
.link{
  display:inline-block;
  text-decoration: underline;
}
.circle-badge{
  width: 0.2rem;
  height: 0.2rem;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  border-radius: 0.1rem;
  display: inline-block;
}
.no-wrap{
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden;
}
.nav-header{
  height:3.2rem;
  text-align: center;
  display:flex;
  flex-direction:row;
  align-items: center;
  padding:0;
  margin:0 auto;
  width:100%;
  max-width: 18.75rem;
}
.nav-item{
  color:white;
  font-size:1rem;
  justify-content: center;
}
.nav-item h1{
  padding:0;
  margin:0;
  height:100%;
  line-height: 3.2rem;
  font-size:1rem;
  box-sizing: border-box;
}
.nav-header .nav-item-center{
  flex: 1;
  -webkit-flex: 1;
}
.nav-header .nav-item-left{
  flex: 0.1;
  -webkit-flex: 0.1;
  width:40px;
  font-size:1.2rem;
  margin-left:0.2rem;
}
.nav-header .nav-item-right{
  flex: 0.1;
  -webkit-flex: 0.1;
  width:40px;
  font-size:1.2rem;
  margin-right:0.2rem;
}
.nav-header .nav-item-center > h1 > span{
  margin-left:0.2rem;
}
.clear{clear:both;}
.text-muted,a.text-muted{color:#999;}
.text-primary,a.text-primary{color:#428bca;}
.text-success,a.text-success{color:#3c763d;}
.text-info,a.text-info{color:#31708f;}
.text-warning,a.text-warning{color:#8a6d3b;}
.text-danger,a.text-danger{color:#ea5513;}
.text-italic{font-style: italic;}
.text-bold{font-weight: bold;}
iframe.img-loader{padding:0;margin:0;}
.header-color{background-color:#ea5513;}
.inline-block{display: inline-block}
.disabled, a.disabled{background-color: #7c7d7d; color:whitesmoke;cursor:not-allowed;}
span.verticle-middle{
  height:100%;
  display:inline-block;
  vertical-align: middle;
}
.btn1 {
  display: block;
  margin:0 auto;
  width:16.55rem;
  height:2.2rem;
  line-height:2.2rem;
  font-size: 1.267rem;
  color:white;
  background-color: #ea5513;
  text-align: center;
  -moz-border-radius: 2.2rem;
  -webkit-border-radius: 2.2rem;
  border-radius: 2.2rem;
}
